In [1]:
import os
# Librería para manejo de datos
import pandas as pd

In [62]:
data= pd.read_csv('listings_m.csv', sep=';',encoding='latin-1', low_memory=False)

In [63]:
data.head(2)

,ï»¿id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,"2,02104E+13",12/04/2021,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.9
1,20168,https://www.airbnb.com/rooms/20168,"2,02104E+13",12/04/2021,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,0363 CBB3 2C10 0C2A 1E29,t,2,0,2,0,2.5

In [64]:
# Revisar los tipos de data en el archivo
data.dtypes

ï»¿id                                             int64
listing_url                                      object
scrape_id                                        object
last_scraped                                     object
name                                             object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 74, dtype: object

In [65]:
frec_data=data['review_scores_rating'].value_counts().reset_index()
frec_data.head(10)

   index  review_scores_rating
0  100.0                  4582
1   98.0                  1557
2   97.0                  1274
3   96.0                  1162
4   95.0                   956
5   99.0                   931
6   93.0                   916
7   90.0                   650
8   94.0                   616
9   80.0                   398

In [66]:
frec_data['Frecuencia_relativa']=frec_data['review_scores_rating'].apply(lambda x: x/frec_data['review_scores_rating'].sum())
frec_data.head(5)

   index  review_scores_rating  Frecuencia_relativa
0  100.0                  4582             0.301705
1   98.0                  1557             0.102522
2   97.0                  1274             0.083888
3   96.0                  1162             0.076513
4   95.0                   956             0.062949

In [67]:
frec_data['frec_rel_acum']=frec_data['Frecuencia_relativa'].apply(lambda x: x*100)
frec_data.head(5)

   index  review_scores_rating  Frecuencia_relativa  frec_rel_acum
0  100.0                  4582             0.301705      30.170541
1   98.0                  1557             0.102522      10.252189
2   97.0                  1274             0.083888       8.388754
3   96.0                  1162             0.076513       7.651281
4   95.0                   956             0.062949       6.294857

In [68]:
frec_data['Frec_acum'] = frec_data['review_scores_rating'].cumsum()
frec_data.head(5)

   index  review_scores_rating  Frecuencia_relativa  frec_rel_acum  Frec_acum
0  100.0                  4582             0.301705      30.170541       4582
1   98.0                  1557             0.102522      10.252189       6139
2   97.0                  1274             0.083888       8.388754       7413
3   96.0                  1162             0.076513       7.651281       8575
4   95.0                   956             0.062949       6.294857       9531

In [69]:
frec_data['Frec_acum_porc']=frec_data['frec_rel_acum'].cumsum()
frec_data.head(5)

,index,review_scores_rating,Frecuencia_relativa,frec_rel_acum,Frec_acum,Frec_acum_porc
0,100.0,4582,0.301705,30.170541,4582,30.170541
1,98.0,1557,0.102522,10.252189,6139,40.422730
2,97.0,1274,0.083888,8.388754,7413,48.811484
3,96.0,1162,0.076513,7.651281,8575,56.462764
4,95.0,956,0.062949,6.294857,9531,62.757622

In [70]:
frec_data_price=data['price']
frec_data_price.head(10)

0     59
1    200
2    125
3    141
4     75
5     55
6    160
7    211
8     65
9    150
Name: price, dtype: int64

In [71]:
frec_data_price.dtypes

dtype('int64')

In [72]:
frec_data_price.quantile([0.78])

0.78    195.0
Name: price, dtype: float64

In [73]:
price = data['price']
df = pd.DataFrame({'price':price})
df_mask=df['price']>=195
filtered_df = df[df_mask]
filtered_df.mean()

price    297.911905
dtype: float64

In [74]:
price = data['price']
price.mean()

154.4958765778401

In [75]:
price = data['price']
df = pd.DataFrame({'price':price})
df_mask=df['price']>0
df_mask2=df['price']<154.4958
filtered_df = df[df_mask & df_mask2]
filtered_df.head(100000)

       price
0         59
2        125
3        141
4         75
5         55
...      ...
17819    100
17820     47
17822    112
17823    107
17824     94

[11772 rows x 1 columns]

In [76]:
por_inf_ciud = (11772*100)/17825
por_inf_ciud

66.04207573632539

In [78]:
data2= pd.read_csv('listings_m.csv', sep=';',encoding='latin-1', low_memory=False)
data2.head(10)

,ï»¿id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,"2,02104E+13",12/04/2021,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.90
1,20168,https://www.airbnb.com/rooms/20168,"2,02104E+13",12/04/2021,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,0363 CBB3 2C10 0C2A 1E29,t,2,0,2,0,2.50
2,25428,https://www.airbnb.com/rooms/25428,"2,02104E+13",11/04/2021,"Lovely, 1 bed apt in Ctr (w.lift) -3/20-6/20(f...",Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,2,2,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,"2,02104E+13",11/04/2021,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,0363 974D 4986 7411 88D8,t,1,0,1,0,1.94
4,28871,https://www.airbnb.com/rooms/28871,"2,02104E+13",13/04/2021,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,2.59
5,29051,https://www.airbnb.com/rooms/29051,"2,02104E+13",12/04/2021,Comfortable single room,This room can also accomodate 2 people. For a...,the street is quite lively especially on weeke...,https://a0.muscache.com/pictures/162009/bd6be2...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,9.0,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,3.91
6,41125,https://www.airbnb.com/rooms/41125,"2,02104E+13",11/04/2021,Amsterdam Center Entire Apartment,"<b>The space</b><br />A nice, sunny and spacio...",NaN,https://a0.muscache.com/pictures/c632c4e8-48fd...,178515,https://www.airbnb.com/users/show/178515,...,10.0,10.0,9.0,NaN,f,1,1,0,0,0.70
7,43109,https://www.airbnb.com/rooms/43109,"2,02104E+13",13/04/2021,Oasis in the middle of Amsterdam,<b>The space</b><br />Welcome to my beautiful....,You almost can't be more central then this.,https://a0.muscache.com/pictures/241908/ec20bf...,188098,https://www.airbnb.com/users/show/188098,...,10.0,10.0,9.0,NaN,f,1,1,0,0,0.46
8,43980,https://www.airbnb.com/rooms/43980,"2,02104E+13",11/04/2021,View into park / museum district (long/short s...,RELOCATE RENTAL / ASK FOR LONG TERM RELOCATION...,Residential.<br />Young crowd and young famili...,https://a0.muscache.com/pictures/923eae51-40df...,65041,https://www.airbnb.com/users/show/65041,...,9.0,9.0,8.0,NaN,f,2,2,0,0,0.48
9,46386,https://www.airbnb.com/rooms/46386,"2,02104E+13",11/04/2021,Cozy loft in central Amsterdam,River view loft in quiet street in hip neighbo...,"De pijp is all about hip shops, cafes, restaur...",https://a0.muscache.com/pictures/e2f85fb1-6949...,207342,https://www.airbnb.com/users/show/207342,...,9.0,8.0,8.0,NaN,f,1,1,0,0,0.02

In [79]:
price = data2['price']
price

0         59
1        200
2        125
3        141
4         75
        ...
17820     47
17821    200
17822    112
17823    107
17824     94
Name: price, Length: 17825, dtype: int64

In [80]:
priceNotCero = price > 0
price[priceNotCero]

0         59
1        200
2        125
3        141
4         75
        ...
17820     47
17821    200
17822    112
17823    107
17824     94
Name: price, Length: 17809, dtype: int64

In [81]:
##Media de los datos Precio
price[priceNotCero].mean()

154.6346790948397

In [82]:
##Desviación estandar
price[priceNotCero].std()

154.16220360132084

In [83]:
##Suma de Media y Desviación estandar
x = 154.6346790948397 + 154.16220360132084
x

308.79688269616054

In [84]:
##Suma de Media más 100 Euros
x = 154.6346790948397 + 100
x

254.6346790948397

In [85]:
## Reviews mayores a cero
masc=data2['review_scores_rating'] > 0
revis = data2['review_scores_rating']
revisNotCero=revis[masc]
masc2 = revisNotCero >= 20
masc3 = revisNotCero <=98
revisDef = revisNotCero[masc2 & masc3]
revisDef

0        98.0
1        89.0
4        97.0
5        95.0
6        96.0
         ...
17666    84.0
17675    93.0
17694    20.0
17729    80.0
17764    70.0
Name: review_scores_rating, Length: 9674, dtype: float64

In [86]:
## % de las reviews que se encuentran entre 20 y 98 puntos
x = (9674/17825) *100
x

54.27208976157083

In [87]:
##Porcentaje de precios que se mantienen por debajo del promedio global
y = price[priceNotCero]
y.mean()
masc = y < y.mean()
z = y[masc]
prom = (11772*100)/17809
prom

66.1014093997417